<form>
  <h2>Register</h2>
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="first_name">Last Name</label>
    <input type="text" class="form-control">
    </div>
  <div class="form-group">
    <label for="first_name">Email</label>
    <input type="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control">
  </div>
  <div class="form-check">
      <label class="form-check-label" for="accept_terms">
          <input type="checkbox" class="form-check-input">
          Accepted terms and conditions</label>
    </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>