<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" *ngIf="auth.isAuthenticated" routerLink="/my-galleries">My Galleries</a>
    <a class="navbar-brand" *ngIf="auth.isAuthenticated" routerLink="/create">Create New Gallery</a>
    <a class="navbar-brand" routerLink="/">All Galleries</a>
    <a class="navbar-brand" *ngIf="!auth.isAuthenticated" routerLink="/login">Login</a>
    <a class="navbar-brand" *ngIf="auth.isAuthenticated" routerLink="/register">Register</a>
    <a class="navbar-brand" *ngIf="auth.isAuthenticated" routerLink="/logout">Logout</a>
</nav>

<div class='containter'>
  <router-outlet></router-outlet>
</div>